certifi==2024.2.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
charset-normalizer==3.3.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
click==8.1.7 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
colorama==0.4.6 ; python_version >= "3.7" and python_full_version < "3.8.0" and platform_system == "Windows" or python_full_version >= "3.9.0" and python_full_version < "3.10.0" and platform_system == "Windows"
defusedxml==0.7.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
idna==3.6 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "3.8"
importlib-resources==5.12.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
pydantic==1.10.14 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
pysocks==1.7.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
python-on-whales==0.60.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
pytz==2023.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
requests==2.31.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
six==1.16.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
solnlib==4.11.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
splunk-add-on-ucc-modinput-test @ git+https://github.com/splunk/addonfactory-ucc-test.git@main ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
splunk-sdk==1.7.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
splunktalib==3.0.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
splunktaucclib==6.0.8 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
tqdm==4.66.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
typer==0.9.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
urllib3==1.26.18 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.0" and python_full_version < "3.10.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8" or python_full_version >= "3.9.0" and python_version < "3.10"
